*, 
html {
    margin: 0%;
    padding: 0%;
}

.container-navbar {
    background-color: rgb(134, 134, 127);
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 100px;
}

.li-navbar:hover {
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 27px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 40px;
    width: 720px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img.content {
    width: 50%;
    height: 50%;
}

.container-footer {
    height: 10vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 100px;
    color: white
}